@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Courier Prime", monospace;
  font-weight: 600;
  font-style: normal;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
